@font-face {
    direction: ltr;
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    letter-spacing: .3rem;
    line-height: 1.6;
    src: url(../fonts/Inter-Regular.woff2);
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal
}

@font-face {
    direction: ltr;
    display: inline-block;
    font-family: Inter-Bold;
    font-weight: 700;
    letter-spacing: .3rem;
    line-height: 1.6;
    src: url(../fonts/Inter-Bold.woff2);
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal
}

@font-face {
    direction: ltr;
    display: inline-block;
    font-family: Inter-Light;
    font-weight: light;
    letter-spacing: .3rem;
    line-height: 1.6;
    src: url(../fonts/Inter-Light.woff2);
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal
}

:root {
    --normal: "Inter", sans-serif;
    --light: "Inter-Light", sans-serif;
    --bold: "Inter-Bold", sans-serif
}