.menu {
    display: block
}

nav {
    padding: 0 2rem
}

nav h1 {
    padding: 0 1rem
}

.navbar-left ul,
.navbar-right a {
    display: none
}

.menu-drop {
    right: 2rem;
    top: 8%
}

.sidenav {
    background-color: var(--white);
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    right: 0;
    top: 0;
    transition: .3s;
    width: 0;
    z-index: 100
}

.sidenav a {
    display: block;
    font-size: var(--sm);
    padding: 8px 8px 8px 32px;
    transition: .3s
}

.sidenav a:hover {
    background: var(--btn)
}

.sidenav .closebtn {
    cursor: pointer;
    font-size: 3.6rem;
    margin-left: 5rem;
    position: absolute;
    right: 2.5rem;
    top: 0
}

.sidenav.show {
    display: block;
    width: 25rem
}

.cards-container {
    padding: 0
}

.card {
    margin: 2rem auto;
    max-width: 28rem;
    width: 90%
}

.management,
.social,
.support {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.card-opinion2 {
    display: none
}

.form-buscar {
    width: 80%
}

.form-group input,
textarea {
    width: auto
}

.modal {
    max-width: 90%
}

.pill-form {
    gap: 2px
}

iframe {
    height: auto;
    width: 100%
}
