body,
html{
    height: 100%;
}

.navegacion {
    align-items: center;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    padding: .5rem 1rem;
    transition: all .3s ease
}

.navegacion:hover {
    box-shadow: var(--shadow)
}

.menu-drop {
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    display: none;
    min-width: 15rem;
    opacity: 0;
    padding: .8rem 0;
    position: absolute;
    right: 10rem;
    top: 8%;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity .2s ease-out, transform .2s ease-out;
    z-index: 10
}

.menu-drop.show {
    display: block;
    opacity: 1;
    transform: scaleY(1)
}

.menu-drop ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.menu-drop ul li {
    text-align: start;
    transition: background .2s ease-in-out
}

.menu-drop ul li:first-child {
    display: flex;
    flex-direction: column
}

.menu-drop ul li a {
    align-items: center;
    border-radius: .4rem;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    font-weight: 500;
    justify-content: start;
    padding: .8rem 1.2rem;
    text-decoration: none;
    transition: background .2s ease-in-out;
    width: 100%
}

.menu-drop ul li a:hover {
    background: var(--light-blue2)
}

.menu-drop:before {
    background: var(--white);
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .05);
    content: "";
    height: 14px;
    position: absolute;
    right: 1.5rem;
    top: -6px;
    transform: rotate(45deg);
    width: 14px;
    z-index: 5
}

.sidenav {
    display: none
}

.centrar {
    display: inline-flex
}


.select--popup {
    background: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    display: none;
    left: 0;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 4.2rem;
    width: 100%;
    z-index: 10
}

.select--popup.select--visiblePopup {
    display: block
}


.select--search {
    background: #fff;
    cursor: pointer;
    left: 0;
    padding: 1rem;
    position: sticky;
    top: 0
}

.select--search input {
    background: #f5f5f5;
    border: none;
    border-radius: .5rem;
    font-family: var(--light);
    height: 4rem;
    padding: 0 1.2rem 0 3rem;
    width: 80% !important
}

.select--search .select--searchIcon {
    cursor: pointer;
    height: var(--icons);
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: var(--icons)
}

.centrar,
.form-buscar {
    justify-content: center;
    width: 100%
}

.form-buscar {
    align-items: center;
    background: var(--white);
    border-radius: 50px;
    box-shadow: var(--shadow);
    display: flex;
    margin: 2.5rem 0 .5rem;
    max-width: 50rem;
    padding: .5rem 1rem
}

#buscador-form .input-buscar {
    background: transparent;
    border: none;
    border-radius: 50px;
    flex: 1;
    font-size: var(--sm);
    outline: none;
    padding: .8rem 1rem;
    width: 100%
}

#buscador-form button {
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .4rem
}

#buscador-form button img {
    height: 2rem;
    width: 2rem
}

.cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-items: center;
    margin: 2rem auto;
    padding: 20px;
    width: 100%
}

.center {
    align-items: center;
    gap: 1rem;
    margin: 20px auto;
    max-width: 90rem;
    width: fit-content
}

.card,
.center {
    display: flex;
    flex-direction: column
}

.card {
    background-color: var(--white);
    border-radius: 1.2rem;
    box-shadow: var(--shadow);
    overflow: hidden;
    width: 28rem;
}

.card:hover {
    box-shadow: var(--shadow2);
    transition: var(--transition-speed);
}

.card h1:nth-child(1) {
    transition: color 0.5s ease;
}

.card:hover h1:nth-child(1) {
    color: var(--light-blue);
    transition: var(--transition-speed);
}

.card>img {
    border-radius: 1.2rem 1.2rem 0 0;
    height: 160px;
    object-fit: cover;
    width: 100%;
    transition: var(--transition-speed);
}

.card:hover>img {
    transform: scale(1.08);
}

.card-content {
    padding: 12px
}

.card .card-content p {
    color: var(--dark-gray);
    margin: 0
}

.card-content h1 {
    margin-bottom: 8px
}

.card-action {
    padding: 0 1.2rem 1.2rem
}

.card-action,
.card-opinion {
    display: flex;
    justify-content: space-between
}

.card-opinion {
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--sm)
}

.score-block,
.ubication {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.score {
    align-items: center;
    background-color: var(--light-green);
    border: .05rem solid var(--dark-green);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    color: var(--blue);
    display: flex;
    font-family: var(--bold);
    font-size: var(--sm);
    height: 2rem;
    justify-content: space-around;
    margin: 0;
    padding: .6rem;
    width: 5rem
}

.score img,
.ubication img,
.content-pill_stage img {
    height: var(--icons);
    width: var(--icons)
}

.score span:nth-child(2) {
    display: flex
}

.comments {
    padding: 1rem 0
}

.tags {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap
}

.tags span {
    background: var(--light-blue2);
    border: .05rem solid var(--light-blue);
    border-radius: var(--radius);
    height: auto;
    margin-right: 5px;
    padding: .5rem .4rem;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.card-opinion span {
    font-family: var(--bold);
    text-align: center;
}

.card-price {
    display: inherit;
    flex-direction: column;
    justify-content: flex-end
}

.card-price,
.card-price h2 {
    text-align: right;
}

.card-price .btn:hover {
    color: var(--white);
    background-color: var(--light-blue);
    transform: translateY(-2px);
    box-shadow: var(--shadow);
}

input[type=submit] {
    width: auto;
}

.primary-button:after {
    background: var(--btn);
    border-radius: 50%;
    bottom: -150%;
    content: "";
    left: -50%;
    position: absolute;
    right: -50%;
    top: -150%;
    transform: scale(0);
    transition: all .4s ease;
    z-index: -1
}

.btn:hover:after {
    transform: scale(1);
    transition: all .6s ease-out;
}

.btn h1 {
    color: var(--blue);
    font-size: var(--lg);
    margin: 0;
}

.btn h3 {
    color: var(--gray);
    font-family: var(--normal);
    margin: 4px 0
}

.btn h3,
.privacy {
    font-size: var(--sm)
}

.privacy {
    color: var(--blue);
    font-family: var(--light);
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px
}

.privacy-list {
    margin-bottom: 1rem
}

.privacy-item {
    margin-bottom: .5rem;
    padding-left: 1rem;
    text-indent: -1rem
}

footer {
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--sm);
    padding: 2rem
}

.footer-links {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.footer-links a,
.footer-links p {
    align-items: inherit;
    color: var(--white);
    display: inherit;
    text-decoration: none
}

.management,
.social,
.support {
    width: 28rem
}

.social ul img {
    height: 2rem;
    margin-right: 1rem;
    width: 2rem
}

.footer-bottom {
    margin-top: 1rem;
    text-align: center
}

.footer-bottom p {
    color: var(--white)
}

.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    margin: 8rem 0
}

.login-container img {
    height: 12rem;
    width: 12rem
}

.login-container__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center
}

.login-container__form label {
    color: var(--blue);
    font-size: var(--sm);
    margin-bottom: .5rem
}

.form-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0
}

.form-group input,
textarea {
    background-color: var(--gray);
    border: none;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    box-sizing: border-box;
    color: var(--blue);
    font-family: var(--light);
    font-size: var(--sm);
    height: 4rem;
    max-width: 30rem;
    padding: 0 1rem;
    width: 30rem
}

.form-group input:focus,
textarea:focus {
    border-color: var(--blue);
    outline: none
}

.btn-login {
    background-color: var(--blue);
    border: .2rem solid var(--blue);
    border-radius: var(--radius);
    color: var(--white);
    cursor: pointer;
    font-family: var(--bold);
    font-size: var(--md);
    max-width: 30rem;
    overflow: hidden;
    padding: 1rem .4rem;
    text-align: center;
    transition: color .3s ease;
    width: 100%
}

.btn-login:hover {
    background-color: var(--white);
    color: var(--blue)
}

.login-links {
    align-items: inherit;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit
}

.login-links a,
.underl {
    font-family: var(--bold);
    text-decoration: underline
}

.credenciales_login {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%
}

.credenciales_login img {
    cursor: pointer;
    height: var(--icons);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: var(--icons);
    z-index: 1
}

.credenciales_login input,
.credenciales_login textarea {
    box-sizing: border-box;
    margin-bottom: 0;
    padding-right: 4rem
}

.btn-filter {
    align-items: center;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    padding: .5rem 1rem;
    transition: all .3s ease
}

.btn-filter img {
    height: var(--icons);
    width: var(--icons)
}

body.no-scroll {
    overflow: hidden
}

.overlay {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4
}

.modal,
.overlay {
    display: none;
    position: fixed
}

.modal {
    background-color: var(--white);
    border-radius: calc(var(--radius) + 1rem);
    box-shadow: var(--shadow);
    flex-direction: column;
    gap: calc(var(--md) + .2rem);
    left: 50%;
    max-height: 80vh;
    max-width: 90%;
    min-width: 20%;
    overflow: none;
    padding: var(--lg) 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5
}

.modal h2 {
    text-align: left
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--lg)
}

.modal-header img {
    cursor: pointer;
    width: var(--icons)
}

.modal-content {
    overflow-y: auto;
    padding: 0 var(--lg)
}

.opt-filters {
    display: grid;
    gap: 2rem;
    margin: 2rem 0
}

.content-pill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.pill-form {
    background-color: var(--gray);
    border-radius: 25px;
    flex-wrap: nowrap;
    height: 4rem;
    justify-content: center;
    width: 30rem
}

.content-pill_stage {
    align-items: center;
    background-color: var(--gray);
    border-color: var(--light-blue);
    border-radius: var(--radius);
    color: var(--blue);
    cursor: pointer;
    gap: 8px;
    display: flex;
    font-size: var(--sm);
    padding: 8px;
    text-decoration: none;
    transition: background-color .3s ease, transform .3s ease;
}

.content-pill_stage label {
    font-size: 14px;
    color: var(--blue);
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.content-pill_stage img {
    margin-right: 8px;
    transition: transform .3s ease, filter .3s ease;
}

.content-pill_stage:hover img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(65%) saturate(400%) hue-rotate(170deg)
}

.content-pill_stage:hover {
    transform: scale(1.03)
}

.content-pill_stage.selected {
    background: var(--btn);
}

input[type=checkbox] {
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    min-width: 1.5rem;
    transition: var(--transition-speed);
    width: 1.8rem;
    height: 1.8rem;
}

input[type=checkbox]:checked {
    background-color: var(--blue);
    border-color: var(--blue)
}

input[type=checkbox]:checked:after {
    align-items: center;
    color: var(--white);
    content: "✔";
    display: flex;
    font-size: var(--sm);
    justify-content: center
}

.checkbox-container {
    align-items: center;
    display: flex;
    gap: .5rem;
    width: 100%
}

.left-label {
    font-size: var(--sm);
    text-align: left
}

.acciones {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 var(--lg);
    width: -webkit-fill-available
}

.form-group textarea {
    background-color: var(--gray);
    border: none;
    border-radius: 1rem;
    color: var(--blue);
    font-family: var(--light);
    font-size: var(--sm);
    height: 10rem;
    padding: .8rem;
    resize: none;
    width: 30rem;
}

iframe {
    height: 50rem;
    width: 70rem;
}

.phone-container {
    position: relative;
}

.phone-container #phone {
    padding-left: 10rem;
}

#phone-suffix {
    align-items: center;
    background: var(--gray);
    border-radius: 1rem;
    color: #000;
    display: flex;
    display: none;
    font-size: var(--md);
    font-weight: 700;
    height: 40px;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90px;
    z-index: 1;
}
